  /*    LINKS *********************************************/
  .links{
    animation-name: links;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.slide-in{
  animation-name: slidein;
  animation-duration: 1s;
}
.slide-out{
  animation-name: slideout;
  animation-duration: 1s;
}
.move-out{
  animation-name: moveout;
  animation-duration: 1s;
}
.marca-dor{
  animation-name: marcador;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.input{
  animation-name: input;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.float{
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.line2{
  animation-name: line2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.line3{
  animation-name: line3;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.grayscaleout{
  animation-name: grayscaleout;
  animation-duration: 1s;
}
  @keyframes links {
    0%  {border-left:  rgb(255, 255, 255) 2px solid; border-top:  rgba(255, 255, 255, 0) 2px solid; 
            border-right:  rgba(255, 255, 255, 0) 2px solid; border-bottom:  rgba(255, 255, 255, 0) 2px solid;}

    12%  {border-left:  rgba(255, 255, 255, 0.479) 2px solid; border-top:  rgba(255, 255, 255, 0.479) 2px solid; 
            border-right:  rgba(255, 255, 255, 0) 2px solid; border-bottom:  rgba(255, 255, 255, 0) 2px solid;}
        
    24%  {border-left:  rgba(255, 255, 255, 0) 2px solid; border-top:  rgb(255, 255, 255) 2px solid; 
            border-right:  rgba(255, 255, 255, 0) 2px solid; border-bottom:  rgba(255, 255, 255, 0) 2px solid;}
    
    36%  {border-left:  rgba(255, 255, 255, 0) 2px solid; border-top:  rgba(255, 255, 255, 0.466) 2px solid; 
            border-right:  rgba(255, 255, 255, 0.521) 2px solid; border-bottom:  rgba(255, 255, 255, 0) 2px solid;}
        
    
    48%  {border-left:  rgba(255, 255, 255, 0) 2px solid; border-top:  rgba(255, 255, 255, 0) 2px solid; 
            border-right:  rgb(255, 255, 255) 2px solid; border-bottom:  rgba(255, 255, 255, 0) 2px solid;}
        
    60%  {border-left:  rgba(255, 255, 255, 0) 2px solid; border-top:  rgba(255, 255, 255, 0) 2px solid; 
                border-right:  rgba(255, 255, 255, 0.486) 2px solid; border-bottom:  rgba(255, 255, 255, 0.514) 2px solid;}
        
    80%  {border-left:  rgba(255, 255, 255, 0) 2px solid; border-top:  rgba(255, 255, 255, 0) 2px solid; 
            border-right:  rgba(255, 255, 255, 0) 2px solid; border-bottom:  rgb(255, 255, 255) 2px solid;}

    100%  {border-left:  rgba(255, 255, 255, 0.473) 2px solid; border-top:  rgba(255, 255, 255, 0) 2px solid; 
            border-right:  rgba(255, 255, 255, 0) 2px solid; border-bottom:  rgba(255, 255, 255, 0.5) 2px solid;}
        }

  /*    FADEIN *********************************************/
@keyframes fadein {
    0% {opacity:0;transform: translateY(10%);}
    100% {opacity:1;transform: translateY(0%);}
    }
@keyframes input {
    0% {opacity:0;background-color:white;}
    100% {opacity:1;background-color:white;}
    }

@keyframes slidein {
    0% {transform: translateX(100%);}
    100% {transform: translateX(0%);}
}
@keyframes slideout {
  0% {transform: translateX(0%);}
  100% {transform: translateX(100%);}
}
@keyframes moveout {
  0% {transform: translateX(0%);}
  100% {transform: translateX(-5%);}
}
@keyframes marcador {
  0% {background-color: black;color: white;transform: translateY(0%);}

  50%{background-color: black;color: #004AAD;transform: translateY(-10%);}

  100% {background-color: black;color: white;transform: translateY(0%);}
}
@keyframes float {
  0% {transform: translateY(0%);}

  50%{transform: translateY(-10%);}

  100% {transform: translateY(0%);}
}
@keyframes line2 {
  0% {width:100%;}
  50% {width:50%;}
  100%{width:100%;}
}
@keyframes line3 {
  0% {width:100%;}
  50% {width:25%;}
  100%{width:100%;}
}
@keyframes grayscaleout {
  0% {filter: grayscale(100%);}
  100%{filter: grayscale(0%);}
}