@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: black;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* FONTS **********************************/
a{font-weight: 300;text-decoration: none;}
p{font-weight: 300;font-style: italic;}
label{font-weight: 300;}
h1{color: rgb(1, 167, 1);font-weight: 800;}
h2{font-weight: 600;}
h3{font-weight: 500;}
.column{width: 45%;}
/* FORM *************************************/
input[type=text], input[type=password], input[type=email], input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 11px 30px -11px #32343644;
  }
textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 11px 30px -11px #32343644;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: rgb(1, 167, 1);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
  }
  button {
    width: 100%;
    background-color: rgb(1, 167, 1);
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
  }
  input[type=submit]:hover {
    background-color: rgb(57, 235, 57);
  }
  button:hover {
    background-color: rgb(57, 235, 57);
  }
  
/* BUTTONS **********************************/
.btn{
    height: 10vh;
    width: 15vw;
    background-color: rgba(48, 47, 47, 0.514);
    color: white;
    font-size: 2vw;
    border-top: rgba(255, 255, 255, 0.63) solid 1px;
    border-left: rgba(255, 255, 255, 0.63) solid 1px;
    border-bottom: rgba(155, 155, 155, 0.63) solid 1px;
    border-right: rgba(155, 155, 155, 0.63) solid 1px;
}
.btn:hover{
    cursor: pointer;
    border: white 1px solid;
}
.pages{
    padding: 1rem;
    margin: 2rem;
}
.pages a{
    padding: 0.5rem;
    color:grey;
    font-size: 1.1rem;
}
.pages a:hover{border-bottom: rgb(1, 167, 1) 2px solid;}
/* FUNCTIONALITY **********************************/
.visible{opacity: 1;}
.invisible{opacity: 0;}
.inactive{display: none;}
.grayscale{filter: grayscale(100%);transition: filter 1s;}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: rgb(230, 95, 71); 
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }

/* ANIMATION **********************************/
.fade-in{animation: fadein 1s;}


/* MENU *************************************/
.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    height: 50px;
    position: absolute;
    padding-left: 0.4rem;
    margin-top: 1rem;
}

li{list-style: none;}
.navigation ul li a{text-decoration: none;color: white;}
.navigation ul li a:hover{border-bottom: 1.5px solid white;}

.burger{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 25px;
    justify-content: space-around;
}
.burger:hover{
    cursor: pointer;
}
.burger div{
    border-top: 2.3px solid white;
    width: 20px;
}
.cross{z-index: 2;width: 100%;}
.cross div{padding: 2rem;text-align: right;margin-top: 2.5rem;width: 82%;}
.menu{z-index: 10;}
.float-menu{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 2rem;
    z-index: 10;
}
.float-menu:hover{animation-name: float;animation-iteration-count: infinite;}
.float-arrow{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
    z-index: 10;
}
.float-coffee{
    top: 0;
    right: 0;
    position: fixed;
    padding: 1rem;
    z-index: 1;
}
.float-coffee:hover{cursor: pointer;}
.float-coffee div{
    align-items: center;
}
.close-modal{cursor: pointer;}
.float-coffee h3:hover{border-bottom: 1px solid white;}
/* INDEX *************************************/
.index{
    display: flex;
    flex-direction: column;
}
.grid-item:hover img{filter: grayscale(0%);cursor: pointer;}
.grid-item:hover span{display: block;}
@media (min-width: 1024px){ /* <1024px ********************************************************/
    /* HEADER **********************************/
.banner{
    width: 100%;
    height: 100vh;
    display: flex;
    border-bottom: 3px solid rgb(1, 167, 1);
}
.banner-title{
    text-align: left;
    width: 100%;
    color: white;
    text-shadow: black 3px 3px;
}
.banner-title-strong{
    color:rgb(1, 167, 1);
    text-shadow: white 3px 3px;
}
.matrix{
    position: absolute;
    background-image: url('./montevideo2.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    z-index: -1;
    width: 100%;
    height: 100%;
}

.banner-p{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
    margin-right: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.div404{font-size: 2vw;}
.navigation ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}
.menu{
    top: 0;
    right: 0;
    position: fixed;
    width: 30%;
    height: 100%;
    z-index: 5;
    background-color: rgb(77, 76, 76);
}
.menu ul{
    display: flex;
    flex-direction: column;
    font-size: large;
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    justify-content: space-around;
    height: 100%;
}
.menu a{color: white;}
.menu a:hover{border-bottom: white 1.5px solid;}
.father{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 120vh;
}
.title{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}
.description{
    font-size: larger;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.division{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}
/* PROPS DESTACADAS GRID ******************************/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    
  }
.grid-item img{
    position: relative;
    display: block;
    object-fit: cover;
    height: 55vh;
    width:33vw;
}
  .grid-item {
    border: 3px solid white;
    text-align: center;
    z-index: 2;
  }
.grid-detail{
    width: 90%;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: left;
    margin-top: 35vh;
    margin-left: 1rem;
    color: white;
    text-shadow: 2px 2px black;
    z-index: 1;
}
.grid-detail span{width: 100%;}
.more-props{
    z-index: 2;
    margin: 1rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color:rgb(1, 167, 1);
    font-size: larger;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}
.more-props:hover {
    border-top: 2px solid rgb(1, 167, 1);
    border-bottom: 2px solid rgb(1, 167, 1);
}
/* SERVICES ******************************/
.services-group{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
}
.services-subgroup{
    width: fit-content;
    display: flex;
    flex-direction: row;
}
.services{
    width: 15vw;
    padding: 3rem;
    align-content: center;
    margin: 0.5rem;
    background-color: white;
    text-align: center;
    color: rgb(1, 167, 1);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: background-color 1s, color 1s, border 1s;
}
.services:hover{
    background-color: rgb(77, 76, 76);
    color: white;
    border: white 1px solid;
    text-decoration: none;
    position: relative;
}
.socialmedia img{
    width: 8vw;
    transition: margin-top 0.5s, width 0.5s;
}
.socialmedia a:hover img{
    width: 9vw;
    position: relative;
    margin-top: -1rem;
    
}
.division-1{z-index: 3;}
.division-1 img{width: 25vw;}
.division-2 img {width: 8vw;margin: 2rem;}
.division-3 img {width: 25vw;}
.subdivision{
    align-items: center;
    font-size: x-large;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 40%;
}
.subdivision-row{
    align-items: center;
    font-size: x-large;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 40%;
}
.special-division{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}
.us-present{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
}
.us-present div{
    width: 40%;
}
.webdev-desc{
    margin-top: -5rem;
    text-align: left;
}
/* SEARCH ****************************/
.search form input, select{
    width: 15%;
    
}
.search button{width: 50%;}
.search form {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
.footer{background-color: rgb(77, 76, 76);color: white;border-top: 3px solid rgb(1, 167, 1);}
.footer-line{
    height: 20vw;
    border-left: rgba(156, 156, 156, 0.459) 1px solid;
}
}

@media (max-width: 1024px){ /* >1024px ********************************************************/
    /* HEADER **********************************/
.banner{
    width: 100%;
    height: 100vh;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.103);
}
.banner-title{
    text-align: left;
    width: 100%;
    color: white;
    text-shadow: black 2px 2px;
}
.banner-title-strong{
    color:rgb(1, 167, 1);
    text-shadow: white 1px 1px;
}
.matrix{
    position: absolute;
    right: 0;
    background-image: url('./montevideo2.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    z-index: -10;
}
.banner-p{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.grid-container {
    display: grid;
    grid-template-columns: auto ;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
.grid-item img{
    position: relative;
    display: block;
    object-fit: cover;
    height: 50vh;
    width:100%;
}
  .grid-item {
    border: 3px solid white;
    
    text-align: center;
    height:50vh;
    width:100%;
    z-index: 2;
  }
.grid-detail{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: left;
    margin-top: 35vh;
    margin-left: 1rem;
    color: white;
    text-shadow: 2px 2px black;
    z-index: 1;
}
.grid-detail span{width: 100%;}
/*MENU **********************************/
.menu{
    top: 0;
    right: 0;
    position: fixed;
    width: 60%;
    height: 100%;
    border: 1px solid white;
    z-index: 5;
    background-color: rgb(77, 76, 76);
    
}
.menu ul{
    display: flex;
    flex-direction: column;
    font-size: large;
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    justify-content: space-around;
    height: 100%;
    
}
.navigation ul{
    display: none;
}
.menu a{color: white;}
.menu a:hover{border-bottom: white 1.5px solid;}
.father{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.title{
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.description{
    font-size: larger;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.division{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    min-height: 75vh;
}
.special-division{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.division-1{z-index: 10;}
.division-1 img{height: 7vh;}
.division-1 h2{font-size: 5vw;}
.division-2 {flex-direction: column-reverse;}
.division-2 img {width: 80vw;}
.division-3 img {width: 40vw;}
.subdivision{
    justify-content: center;
    font-size: x-large;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.subdivision-row{
    align-items: center;
    font-size: x-large;
    text-align: center;
    display: flex;
    flex-direction: row;
    
}
.more-props{
    z-index: 2;
    margin: 1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color:rgb(77, 76, 76);
    font-size: larger;
    text-align: right;
}
.more-props:hover{
    color: rgb(1, 167, 1);
}
/* SERVICES ******************************/
.services-group{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
}
.services-subgroup{
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.services{
    width: 35vw;
    padding: 1rem;
    align-content: center;
    margin: 1rem;
    background-color: white;
    text-align: center;
    color: rgb(1, 167, 1);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: background-color 1s, color 1s, border 1s;
}
.services:hover{
    background-color: rgb(77, 76, 76);
    color: white;
    border: white 1px solid;
    text-decoration: none;
    position: relative;
}
.socialmedia img{
    width: 10vw;
    transition: margin-top 0.5s, width 0.5s;
}
.socialmedia a:hover img{
    width: 12vw;
    position: relative;
    margin-top: -1.5rem;
    
}
.us-present{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
}
.us-present div{
    width: 40%;
}
.webdev-desc{
    margin-top: -5rem;
    text-align: left;
}
.footer{background-color: rgb(77, 76, 76);color: white;border-top: 3px solid rgb(1, 167, 1);}
.footer-line{
    height: 5vh;
    width: 25vw;
    border-bottom: rgba(156, 156, 156, 0.459) 1px solid;
}
}


/* SCROLL BAR **************************/
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: black; 
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(1, 167, 1);
  }