{% extends "base.html"%}

{% block content %}
<div class="father about-father">
    
    <div class="child about-child">
        <h3 style="color: rgba(73, 73, 73, 0.781)">Institucional:</h3>
        <br>
    <p>
        Pallares & Asociados es una empresa familiar dedicada desde sus comienzos al sector inmobiliario. Silvia Pallares  Bruzzone, directora de la firma, acompaña la actividad  de sus padres Manuel Pallares y Myriam Bruzzone, fundadores de inmobiliaria Pallares Bruzzone SRL; incursionando en sus estudios terciarios en el área notarial. <br><br>

En su interés de brindar un asesoramiento integral de inversión a sus clientes, amplia el espectro ofreciendo una amplia  gama de productos financieros calificados de primera línea como fondos de inversión, fondos de retiro y seguros de vida y ahorro. <br><br>

Finalmente todas estas opciones la llevaron a determinar  que el mercado inmobiliario si bien  presenta oscilaciones, sigue siendo la opción más segura que puede ofrecer a sus clientes, por lo cual se hace eco del slogan familiar: " una cosa es cierta,  las propiedades no quiebran".  <br><br>

Hoy la empresa, ya contando con su tercera generación, es reconocida por su profesionalidad, compromiso y asesoramiento personalizado.
    </p>
</div>
</div>
{% endblock %}