<div style="border-style:solid;border-width:thin;border-color:#dadce0;border-radius:8px;padding:40px 20px">
    <div
        style="font-family:''Google Sans'',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;border-bottom:thin solid #dadce0;color:rgba(0,0,0,0.87);line-height:32px;padding-bottom:24px;text-align:center;word-break:break-word">
        <img alt=Pallaresyasociados aria-hidden=true class=CToWUd width=50
            src="https://scontent.fmvd4-1.fna.fbcdn.net/v/t1.0-9/16473247_262488650849599_8347533623051414236_n.jpg?_nc_cat=105&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeG32RxTx024IYxCbpOzxz-1-3zJOy680pX7fMk7LrzSlYUv26nRqU1xX8N6KgvjcljdMNMVh_R061esq01RqNwe&_nc_ohc=Zps9IjZhHekAX9DH0kL&_nc_ht=scontent.fmvd4-1.fna&oh=e9b1d6a35f896795c3e791fc5cbbcff5&oe=5FD115BF"
            style=margin-bottom:16px width=74>
        <div style=font-size:24px> Descubre mas detalles sobre esta propiedad! </div>
        <div
            style=font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:14px;color:rgba(0,0,0,0.87);line-height:20px;padding-top:20px;text-align:center>
            ' + message + '<div style=padding-top:32px;text-align:center><a href=http://127.0.0.1:3000/profile/1
                    style="font-family:''Google Sans'',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;line-height:16px;color:#ffffff;font-weight:400;text-decoration:none;font-size:14px;display:inline-block;padding:10px 24px;background-color:rgb(1, 167, 1);border-radius:5px;min-width:90px"
                    target=_blank> Ver la casa </a></div>
        </div>
    </div>
</div>